* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --BCOLOR: #ffccd2;
    --TEXTCOLOR: aliceblue;
    --TEXTCOLOR2: black;
    --MAINCOLOR: #E32D08;
    --MAINCOLOR2: #280d04;
    --FORMCOLOR: #333;
    --PADDING: 0.8rem;
}

body {
    min-height: 100vh;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
}
/* header here */
header{
    position: relative;
    color: var(--TEXTCOLOR);
}
img{
    width: 100%;
    height: 30rem;
    filter: brightness(60%);
}
h3{
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-style: italic;
    letter-spacing: 0.2rem;
}
.logo{
    position: absolute;
    top: 10rem;
    left: 6rem;
}
nav{
    position: absolute;
    top: 2rem;
    width: 80%;
    left: 14rem;
    text-align: right;
}
nav li{
    display: inline-block;
    padding-right: 2rem;
}
nav li a{
    text-decoration: none;
    color: var(--TEXTCOLOR);
}
.logo p{
    margin-left: 2rem;
    margin-top: 1rem;
}

/* main is here */
main{
    background-color: var(--BCOLOR);
    position: relative;
    margin-top: 2rem;
    width: 80%;
    left: 10rem;
}
/* menu bar here */
.menu-name{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
hr{
    height: 0.3rem;
    width: 43%;
    background-color: var(--TEXTCOLOR2);
}
.rightline{
    left: 30em;
}
/* beverages starts here */
.beverages{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    position: relative;
}
/* heading here */
.menu-beverages h3{
    top: -30%;
    left: 10rem;   
}
/* table here */
table{
    width: 25rem;
    height: 15rem;
    margin-left: 12rem;
    margin-right: 8rem;
    font: inherit;
    font-weight: 500;
}
/* image and circle here */
.coffee-cup{
    margin-top: -4rem;
    height: 25rem;
    width: 35rem;
    filter: brightness(100%) contrast(1);
}
.chinese{
    height: 30rem;
}
/* left side image here */
.southIndian{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    position: relative;
}
.menu-south h3{
    top: -30%;
    left: 53rem;   
}
/* footer starts here */
.footerhere{
    position: sticky;
    margin-top: 2rem;
    bottom: 0;
    background-color:black;
    height: 500px;
    width: 1518px;
    display: flex;
    flex-wrap: wrap;
}
.footerhere h2{
    text-align: center;
    position: inherit;
    margin-top: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    left: 1em;
    color: white;
}
.footerhere .columns{
    margin-top: 3rem;
    margin-left: 3rem;
    padding: 0;
    position: relative;
    top: 3em;
    height: max-content;
}
.footerhere .columns h4{
    text-align: left;
    color: white;
}
.footerhere .columns ul{
    padding-right: 7em;
    text-align: left;
    list-style-type: none;
}
.footerhere .columns ul li{
    padding-bottom: 0.9rem;
}
.footerhere .columns ul li a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 1.5rem;
}
.footerhere .columns h4{
    padding-bottom: 0.6em;
}

.social{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-right: 0.8rem;
    margin-left: 3em;
}
.social a{
    margin-right: 1rem;
}
.social a img{
    height: 2rem;
    width: auto;
}
.social section{
    display: inline-block;
    width: 80%;
    text-align: end;
}
select{
    font: inherit;
    background-color: var(--TEXTCOLOR2);
    color: var(--TEXTCOLOR);
    margin-bottom: 2rem;
    border: 0;
    width: 8rem;
    text-align: center;
    appearance: none;
}
select:hover{
    background-color: var(--FORMCOLOR);
    cursor: pointer;
    border-radius: 2rem;
}
section select aside{
    display: inline-block;
    margin-right: 2rem;
}